:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
    --shadow: #1e1e2eb3;
}

body {
    background: var(--blue);
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: S;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    overflow-x: hidden;
}

#main {
    border: 4px solid var(--orange);
    width: 75vw;
    height: 75vh;
    margin-left: 12.5vw;
    margin-top: 10vh;
}
