:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
    --shadow: #1e1e2eb3;
}

@font-face {font-family: S; src: url('Sauce Code Pro Nerd Font Complete.ttf');}

body {
    background: rgb(0, 0, 0, 50%);
    backdrop-filter: blur(5px) saturate(200%);
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: S;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    overflow-x: hidden;
}

h3 {
    font-size: 20px;
    margin: 0px;
}

.page {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.titlebar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30px;
    background: var(--orange);
    border-bottom: 4px solid var(--orange);
}

.titlebar button {
    width: 40px;
    height: 30px;
    margin-right: 0px;
    margin-left: auto;
    border-width: 0px;
    background: var(--orange);
    font-size: 22px;
    color: var(--dark);
    font-weight: bold;
}

.titlebar button:hover {
    background: var(--red);
}

.titlebar h3 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--dark);
}

ul {
    margin-left: -20px;
    margin-top: 20px;
}

li {
    list-style: none;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: var(--white);
}

li button {
    border-width: 0px;
    font-size: 18px;
    font-family: S;
    font-weight: bold;
    text-align: start;
    padding: 5px;
    padding-left: 10px;
    background: rgb(0, 0, 0, 0%);
    color: var(--white);
    width: 100%;
}

li button:hover {
    background: var(--orange);
    color: var(--dark);
}

.ascii {
    font-size: 10px;
    margin-right: 40px;
    margin-left: auto;
    margin-top: 20px;
}

.ascii-big {
    font-size: 10px;
    text-align: center
}

.content {
    display: flex;
    flex-direction: row;
}

.content > ul {
    width: 50%;
}

.chattig {
    width: 700px;
    height: 450px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.iframe-big {
    width: 95vw;
    height: 100vh;
    margin-bottom: 10px;
    border-width: 0px;
}

.button {
    width: 88px;
    height: 31px;
}

.banner {
    width: 100%;
    height: 35%;
}

.profile {
    margin-right: 10%;
    margin-left: auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    border: 4px solid var(--orange);
    margin-bottom: 20px;
}

.nick {
    text-align: center;
    color: var(--dark);
    background: var(--orange);
}

.animes, .mangas {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--orange);
    width: calc(100vw - 50px);
    overflow-x: auto;
}

.anime, .manga {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 4px solid var(--orange);
    border-radius: 20px;
    text-align: center;
    text-wrap:wrap;
    width: 220px;
    margin-bottom: 10px;
}

.anime:hover, .manga:hover {
    background: var(--orange);
    color: var(--dark);

    .anime-img, .manga-img {
        width: 180px;
        height: 260px;
        margin: 20px;
        border-radius: 30px;
    }
}

.anime-img, .manga-img {
    height: 300px;
    width: 220px;
    border-radius: 15px;
}

h1 {
    font-size: 25px;
}

.blog-img {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 4px solid var(--orange);
}

#quote {
    margin-left: 10px;
}
