:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
}

@font-face {font-family: S; src: url('assets/Sauce Code Pro Nerd Font Complete.ttf');}

body {
    background-image: url('https://img.itch.zone/aW1nLzEzNDczMzc1LnBuZw==/original/8hwNz8.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);
    font-family: S;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 150%;
    color: var(--yellow);
    border-bottom: 3px dotted var(--white);
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.index {
    background: var(--dark);
    border: 4px solid var(--lavender);
    padding: 10px;
    padding-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 200px;
    width: 70vw;
    height: 40vh;
    overflow: auto;
    box-shadow: 10px 10px var(--blue);
    display: flex;
    flex-direction: column;
}

.index:hover {
    background: var(--blue);
    box-shadow: 7px 7px var(--white);
    border-right: 6px solid var(--dark);
    border-bottom: 6px solid var(--dark);
    border-top: 6px solid var(--lavender);
    border-left: 6px solid var(--lavender);

    h1 {
        color: var(--dark);
        border-bottom: 0px;;
        background: var(--red);
    }
}

.content {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}
