:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
}

@font-face {font-family: S; src: url('assets/Sauce Code Pro Nerd Font Complete.ttf');}
@font-face {font-family: C; src: url('assets/CodeNewRomanNerdFont-Bold.otf');}

body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: C;
    font-size: 20px;
    margin: 0px;
    margin-right: 200px;
    color: var(--dark);
}

h1 {
    border-top: 3px dotted var(--lavender);
    border-bottom: 3px dotted var(--lavender);
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    font-size: 22px;
    font-weight: normal;
}

ul {
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    list-style: none;
}

li {
    padding: 2px;
}

.index {
    background: var(--yellow);
    border: 10px solid var(--yellow);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    width: 100%;
    text-align: start;
    border: 5px solid #ffffff00;
    background: #ffffff00;
    font-size: 18px;
    font-family: C;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

button:hover {
    border: 5px solid var(--lavender);
    background: var(--lavender);
}

img {
    width: 90vw;
}

p {
    margin: 10px;
    padding: 0px;
    font-size: 18px;
}

#myanimestats {
    width: 100vw;
    height: 80vh;
}

#mymangastats {
    width: 100vw;
    height: 80vh;
}

#chattig {
    width: 90vw;
    height: 80vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--lavender);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}
