body {
    background: #7aa2f7;
    overflow: hidden;
}

.sun {
    position: absolute;
    right: 50px;
    top: 50px;
    background: #fab387;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: -2;
}

.sun-ray-1 {
    right: 170px;
    top: 100px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    z-index: -2;
}

.sun-ray-2 {
    right: -120px;
    top: 100px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    z-index: -2;
}

.sun-ray-3 {
    right: 25px;
    top: -50px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(90deg);
    z-index: -2;
}

.sun-ray-4 {
    right: 25px;
    top: 250px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(90deg);
    z-index: -2;
}

.sun-ray-5 {
    right: 150px;
    top: 220px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(-45deg);
    z-index: -2;
}

.sun-ray-6 {
    right: -100px;
    top: 220px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(45deg);
    z-index: -2;
}

.sun-ray-7 {
    right: -100px;
    top: -20px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(-45deg);
    z-index: -2;
}

.sun-ray-8 {
    right: 150px;
    top: -20px;
    background: #f9e2af;
    position: absolute;
    border-radius: 50px;
    width: 150px;
    height: 10px;
    transform: rotate(45deg);
    z-index: -2;
}

.cloud-base {
    background: #cdd6f4;
    position: absolute;
    border-radius: 50px;
    top:130px;
    left: 200px;
    width: 300px;
    height: 60px;
    z-index: -1;
}

.cloud-1 {
    background: #cdd6f4;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 80px;
    left: 220px;
    z-index: -1;
}

.cloud-2 {
    background: #cdd6f4;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 80px;
    left: 380px;
    z-index: -1;
}

.cloud-3 {
    background: #cdd6f4;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 55px;
    left: 280px;
    z-index: -1;
}

.cloud-4 {
    background: #cdd6f4;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 55px;
    left: 320px;
    z-index: -1;
}

.hill1 {
    background: #a6e3a1;
    position: absolute;
    border-radius: 50%;
    width: 100vw;
    height: 60vw;
    bottom: -40vw;
    left: -10vw;
    z-index: 1;
}

.hill2 {
    background: #9ece6a;
    position: absolute;
    border-radius: 50%;
    width: 70vw;
    height: 40vw;
    bottom: -20vw;
    right: -20vw;
    z-index: 0;
}
